<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login And Register</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{>navbar}}
      <!-- home section -->
        <section id="home">
            <iframe class="s2" src='https://my.spline.design/lines-7119922b4f9ea8e589c02da9fb65f2a9/'
                frameborder='0'></iframe>
            <div class="main sectionsec">
                <div class="main1 photoMain">
                    <img class="imgForPC" src="/apanCollegeLogo.jpg" alt="">
                </div>
                <div class="main1 latterMain">
                    <h1>Hello Bacho...</h1>
                    <h1>Apana College......</h1>
                    <h1>Well Come To <span class="autotype"></span></h1>
                </div>
            </div>
        </section>
    
    
        <!-- Head letter change  -->
        <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
        <script>
            var typed = new Typed('.autotype', {
                strings: ['Our College', 'Our Website', 'Our School'],
                typeSpeed: 150,
                backspeed: 150,
                loop: true
            });
        </script>
</body>
</html>