<nav class="header navbar">
    <div class="logoNav">
        <div class="logo"><a href="">APANA COLLEGE</a></div>
    </div>
    <div class="itemNav">
        <ul class="name">
            <li class="liHover lione active"><a href="/" >HOME</a></li>
            <li class="liHover litwo " id="dropli">REGISTER
                     <ul class="drop-down">
                        <li ><a href="/register">STUDENT REGISTER</a></li>
                        <li><a href="/register">TEACHER REGISTER</a></li>
                    </ul> 
            </li>
            <li class="liHover lithree"><a href="/login">LOGIN</a></li>
           
        </ul>
    </div>
</nav>