<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login And Register</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    {{!-- it is useed as universial code means partials code --}}
    {{>navbar}}
    <div class="wrapper">
        <h2>Registration</h2>
        <form action="/tecReg" method="POST">
            <div class="input-box">
                <input type="text" placeholder="Enter your first name" name="firstname" value="" required>
            </div>
            <div class="input-box">
                <input type="text" placeholder="Enter your last name" name="lastname" value="" required>
            </div>
            <div class="input-box">
                <input type="email" placeholder="Enter email id " name="email" value="" required>
            </div>
            <div class="input-box">
                <input type="password" placeholder="Create password" name="password" value="" required>
            </div>
            <div class="policy">
                <input type="checkbox">
                <h3>I accept all terms & condition</h3>
            </div>
            <div class="input-box button">
                <input type="Submit" value="Register">
            </div>
            <div class="text">
                <h3>Already have an account? <a href="/login">Login now</a></h3>
            </div>
        </form>
    </div>
</body>
</html>